// Add global variables here

// Colors
@color-typo: #DC0018; /* Header Navigation: Hauptfarbe*, Buttonborder, Navigation active border */

@color-black: #000;
@color-green: green; /* Validierung: ok */
@color-red: #DC0018; /* Validierung: nicht ok, danger */
@color-white: #fff;
@color-gray-light:   lighten(#000, 33.33%); // #D5D5D5
@color-gray-lighter:   lighten(#000, 96%); // #F5F5F5
@color-link: #069;

@color-info-background: #d9edf7;
@color-info-text: #069;

// Z indices
@z-index-preloader: 1000;

// Dimensions
@icon-size-inner: 24px;
@icon-size: 48px;
@icon-size-inner-dense: 20px;
@icon-size-dense: 40px;

// Helpers
@drop-shadow: 0 2px 5px rgba(0, 0, 0, .26);
@backdrop-color: rgba(0, 0, 0, .54);

// Media queries
@desktop: ~"only screen and (min-width: 1025px)";
@tablet-portrait: ~"only screen and (min-width: 601px) and (max-width: 768px)";
@tablet-landscape: ~"only screen and (min-width: 961px) and (max-width: 1024px)";
@mobile-portrait: ~"only screen and (max-width: 600px)";
@mobile-landscape: ~"only screen and (min-width: 601px) and (max-width: 960px)";

@ie10-11: ~"all and (-ms-high-contrast: none), (-ms-high-contrast: active)";

// Variables for cards
// Copied from Bootstrap 5
@spacer: 1rem;
@border-width:                1px;
@border-radius:               .25rem;
@grid-gutter-width:           1.5rem;
@link-hover-decoration:                   null;
@enable-rounded: false;

@card-spacer-y:                     @spacer;
@card-spacer-x:                     @spacer;
@card-title-spacer-y:               @spacer * .5;
@card-border-width:                 @border-width;
@card-border-color:                 rgba(@color-black, .125);
@card-border-radius:                @border-radius;
@card-box-shadow:                   null;
@card-inner-border-radius:          subtract(@card-border-radius, @card-border-width);
@card-cap-padding-y:                @card-spacer-y * .5;
@card-cap-padding-x:                @card-spacer-x;
@card-cap-bg:                       rgba(@color-black, .03);
@card-cap-color:                    null;
@card-height:                       null;
@card-color:                        null;
@card-bg:                           @color-white;
@card-img-overlay-padding:          @spacer;
@card-group-margin:                 @grid-gutter-width * .5;
