<div class="search-browser">
	<nav class="controls-container">
		<div class="info">
			<span *ngIf="!loading">{{ 'Treffer {0} von {1}' | translate:'search.browser.nOfM':(itemIndex + 1):itemCount }}</span>
			<span *ngIf="loading">{{ 'Lade...' | translate:'search.browser.loading'}}</span>
		</div>

		<ul class="controls left">
			<li class="separator" [ngClass]="{ 'disabled': !canGoPrev }">
				<a tabindex="0" [attr.aria-disabled]="canGoPrev ? '': 'true'" (click)="goToFirst()" (keyup.enter)="goToFirst()">
					<span class="icon icon--step-backward"  tooltip="{{ 'Erster Treffer' | translate:'search.browser.first' }}">
						<span class="sr-only">
							{{ 'Erster Treffer' | translate:'search.browser.first' }}
						</span>
					</span>
				</a>
			</li>
			<li class="separator" [ngClass]="{ 'disabled': !canGoPrev }" >
				<a tabindex="0" [attr.aria-disabled]="canGoPrev ? '': 'true'" (click)="goToPrevious()" (keyup.enter)="goToPrevious()">
					<span class="icon icon--left"  tooltip="{{ 'Vorheriger Treffer' | translate:'search.browser.previous' }}">
						<span class="sr-only">
							{{ 'Vorheriger Treffer' | translate:'search.browser.previous' }}
						</span>
					</span>
				</a>
			</li>
		</ul>

		<ul class="controls right">
			<li class="separator-left" [ngClass]="{ 'disabled': !canGoNext }">
				<a tabindex="0" [attr.aria-disabled]="canGoNext ? '': 'true'" (click)="goToNext()" (keyup.enter)="goToNext()">
					<span class="icon icon--right"  tooltip="{{ 'Nächster Treffer' | translate:'search.browser.next' }}">
						<span class="sr-only">
							{{ 'Nächster Treffer' | translate:'search.browser.next' }}
						</span>
					</span>
				</a>
			</li>
			<li class="separator-left" [ngClass]="{ 'disabled': !canGoToLast }">
				<a tabindex="0" [attr.aria-disabled]="canGoToLast ? '': 'true'" (click)="goToLast()" (keyup.enter)="goToLast()">
					<span class="icon icon--step-forward"  tooltip="{{ 'Letzter Treffer' | translate:'search.browser.last' }}">
						<span class="sr-only">
							{{ 'Letzter Treffer' | translate:'search.browser.last' }}
						</span>
					</span>
				</a>
			</li>
		</ul>
	</nav>

</div>
