<div class="row">
	<div *ngIf="hasAccess === true">
		<div class="col-md-3">
			<dl>
				<dt>Metadata</dt>
				<dd *ngFor="let metadata of this.permission?.metadataAccessToken">
					{{metadata}}
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<dl>
				<dt>PrimaryDataFulltext</dt>
				<dd *ngFor="let metadata of this.permission?.primaryDataFulltextAccessTokens">
					{{metadata}}
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<dl>
				<dt>PrimaryDataDownload</dt>
				<dd *ngFor="let metadata of this.permission?.primaryDataDownloadAccessTokens">
					{{metadata}}
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<dl>
				<dt>Field</dt>
				<dd *ngFor="let metadata of this.permission?.fieldAccessTokens">
					{{metadata}}
				</dd>
			</dl>
		</div>
	</div>
</div>
