<div class="col-md-12">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h1>{{ 'Online-Zugang zum Bundesarchiv' | translate:'search.simple.title' }}</h1>
					<cmi-viaduc-simple-search (onSearch)="onSearch($event)"></cmi-viaduc-simple-search>
					<br/>
					<p>
						{{'Hier finden Sie Unterlagen zur Geschichte der Schweiz seit 1798. Durchsuchen Sie den Katalog und
						konsultieren Sie Dossiers, Fotos und Filme online.' | translate:'search.simple.intro'}}
						{{'Unterstützung erhalten Sie unter Beratung und unter Informationen.' | translate: 'search.simple.intro2'}}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<cmi-viaduc-news-page></cmi-viaduc-news-page>
				</div>
			</div>

		</div>
		<div class="col-md-3">
			<cmi-cituro-floating-button></cmi-cituro-floating-button>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<cmi-collection-overview [parentId]="null" [centerContent]="true" [headerText]="'Sammlungen' | translate: 'collections.header'"></cmi-collection-overview>
		</div>
	</div>
</div>
